<div class="comtainer-fluid bgColor p-4">
    <div class="row">
        <div class="col-10">
            <span class="f-20">Dashboard |</span>
        </div>
        <div class="col-2">
            <span>Setting</span>
        </div>
    </div>
    <div class="row pt-2">
        <div class="col-3">
            <div class="card">
                <div class="card-body">
                    <div class="row d-flex justify-content-between">
                        <div class="col-6">
                            <span class=""><img src="../../../../../assets/following.png" alt=""></span>
                            <span class="ms-3">Following</span>
                            
                        </div>
                        <div class="col-6 d-flex justify-content-end">
                            <span>...</span>
                        </div>
                        
                    </div>
                    <div class="row mt-4">
                        <div class="col-6">
                            <span class="f-20">1,037</span>
                        </div>
                        <div class="col-6">
                            <canvas #populationChart width="350" height="50"></canvas>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="card">
                <div class="card-body">
                    <div class="row d-flex justify-content-between">
                        <div class="col-6">
                            <span class=""><img src="../../../../../assets/heart.png" alt=""></span>
                            <span class="ms-3">Like</span>
                        </div>
                        <div class="col-6 d-flex justify-content-end">
                            <span>...</span>
                        </div>
                    </div>
                    <div class="row mt-4">
                        <div class="col-6">
                            <span class="f-24">1,037</span>
                        </div>
                        <div class="col-6">
                            <canvas #populationChart1 width="350" height="50"></canvas>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="card">
                <div class="card-body">
                    <div class="row d-flex justify-content-between">
                        <div class="col-6">
                            <span class=""><img src="../../../../../assets/comment-dots.png" alt=""></span>
                            <span class="ms-3">Comments</span>
                        </div>
                        <div class="col-6 d-flex justify-content-end">
                            <span>...</span>
                        </div>
                    </div>
                    <div class="row mt-4">
                        <div class="col-6">
                            <span class="f-24">1,037</span>
                        </div>
                        <div class="col-6">
                            <canvas #populationChart2 width="350" height="50"></canvas>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="card">
                <div class="card-body">
                    <div class="row d-flex justify-content-between">
                        <div class="col-6">
                            <span class=""><img src="../../../../../assets/envelope.png" alt=""></span>
                            <span class="ms-3">Messages</span>
                        </div>
                        <div class="col-6 d-flex justify-content-end">
                            <span>...</span>
                        </div>
                    </div>
                    <div class="row mt-4">
                        <div class="col-6">
                            <span class="f-24">1,037</span>
                        </div>
                        <div class="col-6">
                            <canvas #populationChart3 width="350" height="50"></canvas>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-8">
            <div class="card">
                <div class="card-body">
                    <div class="row d-flex justify-content-between">
                        <div class="col-6">
                            <!-- <span class=""><img src="../../../../../assets/following.png" alt=""></span> -->
                            <span class="ms-1">Statistics</span>
                        </div>
                        <div class="col-6 d-flex justify-content-end">
                            <span>...</span>
                        </div>
                    </div>
                    <div class="row mt-4">
                        <div class="col-12">
                            <canvas #pageviewsChart width="370" height="300"></canvas>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card">
                <div class="card-body">
                    <div class="row d-flex justify-content-between">
                        <div class="col-6">
                            <!-- <span class=""><img src="../../../../../assets/following.png" alt=""></span> -->
                            <span class="ms-1">Top Categories</span>
                        </div>
                        <div class="col-6 d-flex justify-content-end">
                            <span>...</span>
                        </div>
                    </div>
                    <div class="row mt-4">
                        <!-- <div class="col-6">
                            <span class="f-24">1,037</span>
                        </div> -->
                        <div class="col-12">
                            <canvas #usageChart width="370" height="300"></canvas>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-6">
            <div class="card">
                <div class="card-body">
                    <div class="row d-flex justify-content-between">
                        <div class="col-6">
                            <!-- <span class=""><img src="../../../../../assets/following.png" alt=""></span> -->
                            <span class="ms-1">Customers</span>
                        </div>
                        <div class="col-6 d-flex justify-content-end">
                            <span>...</span>
                        </div>
                    </div>
                    <div class="row mt-4">
                        <div class="col-12">
                            <canvas #usageChart1 width="370" height="250"></canvas>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="card">
                <div class="card-body">
                    <div class="row d-flex justify-content-between">
                        <div class="col-6">
                            <!-- <span class=""><img src="../../../../../assets/following.png" alt=""></span> -->
                            <span class="ms-1">Sales By Country</span>
                        </div>
                        <div class="col-6 d-flex justify-content-end">
                            <span>...</span>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-1">
                            <img src="../../../../../assets/india.png" width="24px" alt="india">
                        </div>
                        <div class="col-11">
                            <div class="progress changeHeight" role="progressbar" aria-label="Basic example" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
                                <div class="progress-bar bg-primary" style="width: 85%">85%</div>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-1">
                            <img src="../../../../../assets/united-states-of-america.png" width="24px" alt="india">
                        </div>
                        <div class="col-11">
                            <div class="progress changeHeight" role="progressbar" aria-label="Basic example" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
                                <div class="progress-bar bg-warning" style="width: 55%">55%</div>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-1">
                            <img src="../../../../../assets/united-kingdom.png" width="24px" alt="india">
                        </div>
                        <div class="col-11">
                            <div class="progress changeHeight" role="progressbar" aria-label="Basic example" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
                                <div class="progress-bar bg-danger" style="width: 15%">15%</div>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-1">
                            <img src="../../../../../assets/pakistan.png" width="24px" alt="india">
                        </div>
                        <div class="col-11">
                            <div class="progress changeHeight" role="progressbar" aria-label="Basic example" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
                                <div class="progress-bar bg-success" style="width: 35%">35%</div>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-1">
                            <img src="../../../../../assets/canada.png" width="24px" alt="india">
                        </div>
                        <div class="col-11">
                            <div class="progress changeHeight" role="progressbar" aria-label="Basic example" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
                                <div class="progress-bar" style="background-color: rgb(247, 2, 104);" style="width: 70%">70%</div>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-1">
                            <img src="../../../../../assets/netherlands.png" width="24px" alt="india">
                        </div>
                        <div class="col-11">
                            <div class="progress changeHeight" role="progressbar" aria-label="Basic example" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
                                <div class="progress-bar bg-info" style="width: 80%;">80%</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-4">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <div class="row d-flex justify-content-between">
                            <div class="col-6">
                                <span class=""><img src="../../../../../assets/wallet.png" width="40px" alt=""></span>
                            </div>
                            <div class="col-6 d-flex justify-content-end">
                                <span>...</span>
                            </div>
                        </div>
                        <div class="row mt-4">
                            <div class="col-12">
                                <span class="f-24">$4,037</span>
                                <div class="progress changeHeight" role="progressbar" aria-label="Basic example" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
                                    <div class="progress-bar bg-success" style="width: 80%">80%</div>
                                </div>
                                <div class="d-flex justify-content-between mt-2">
                                    <span class="f-12" style="font-weight: 400;">Earned This Month</span>
                                    <span class="f-12" style="font-weight: 400;">+2.4%</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 mt-3">
                <div class="card">
                    <div class="card-body">
                        <div class="row d-flex justify-content-between">
                            <div class="col-6">
                                <span class=""><img src="../../../../../assets/" alt=""></span>
                                <span class="ms-1">Following</span>
                            </div>
                            <div class="col-6 d-flex justify-content-end">
                                <span>...</span>
                            </div>
                        </div>
                        <div class="row mt-4">
                            <div class="col-12">
                                <span class="f-24">5000</span>
                                <div class="progress changeHeight" role="progressbar" aria-label="Basic example" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
                                    <div class="progress-bar bg-primary" style="width: 60%">60%</div>
                                </div>
                                <div class="d-flex justify-content-between mt-2">
                                    <span class="f-12" style="font-weight: 400;">New Clients</span>
                                    <span class="f-12" style="font-weight: 400;">+5.3%</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card">
                <div class="card-body">
                    <div class="row d-flex justify-content-between">
                        <div class="col-6">
                            <span class=""><img src="../../../../../assets/following.png" alt=""></span>
                            <span class="ms-3">User Activity</span>
                        </div>
                        <div class="col-6 d-flex justify-content-end">
                            <span>...</span>
                        </div>
                    </div>
                    <div class="row mt-4">
                        <div class="col-6">
                            <span class="f-24">1,037</span>
                            <span class="f-24">1,037</span>
                            <span class="f-24">1,037</span>
                            <span class="f-24">1,037</span>
                            <span class="f-24">1,037</span>
                            <span class="f-24">1,037</span>
                            <span class="f-24">1,037</span>
                            <span class="f-24">1,037</span>
                            <span class="f-24">1,037</span>
                            <span class="f-24">1,037</span>
                            <span class="f-24">1,037</span>
                            <span class="f-24">1,037</span>
                            <span class="f-24">1,037</span>
                            <span class="f-24">1,037</span>
                            <span class="f-24">1,037</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <div class="row d-flex justify-content-between">
                            <div class="col-6">
                                <span class=""><img src="../../../../../assets/following.png" alt=""></span>
                                <span class="ms-3">Total Session</span>
                            </div>
                            <div class="col-6 d-flex justify-content-end">
                                <span>...</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                <span class="f-24">1,037</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 mt-3">
                <div class="card">
                    <div class="card-body">
                        <div class="row d-flex justify-content-between">
                            <div class="col-6">
                                <span class=""><img src="../../../../../assets/following.png" alt=""></span>
                                <span class="ms-3">Page Views</span>
                            </div>
                            <div class="col-6 d-flex justify-content-end">
                                <span>...</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                <span class="f-24">1,037</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <div class="row d-flex justify-content-between">
                        <div class="col-6">
                            <!-- <span class=""><img src="../../../../../assets/following.png" alt=""></span> -->
                            <span class="ms-1">Recent Order</span>
                        </div>
                        <div class="col-6 d-flex justify-content-end">
                            <span>...</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <span class="f-24">1,037</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
