<nav class="navbar shadow">
    <div class="col-8 p-2 d-flex justify-content-between">
        <form class="container-fluid">
            <div class="input-group">
                <span class="input-group-text" id="basic-addon1">
                    <img src="../../../assets/search.png" alt="search icon">
                </span>
                <input type="text" class="form-control" placeholder="Search for anything" aria-label="Username" aria-describedby="basic-addon1">
            </div>
        </form>
    </div>
    <div class="col-2 d-flex justify-content-end">
        <span class="me-4"><img src="../../../assets/brightness.png" alt="light"></span>
        <span class="me-4"><img src="../../../assets/grid.png" alt="grid"></span>
        <span class="me-4"><img src="../../../assets/bell.png" alt="bell"></span>
        <span class="me-4"><img src="../../../assets/following.png" alt="follow"></span>
    </div>
    
</nav>